.env
.history
wallet.txt

/Final/mwallet/node_modules/
/Final/mwallet/node_modules/.cache/
/Final/mwallet/node_modules/.cache/default-development/1.pack
/Final/mwallet/node_modules/.cache/default-development/8.pack